body{
    background-image: url(11.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
#dash{
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
}
h2{
    font-size: 40px;
    font-style: inherit;
    margin-top: 0px;
    text-align: center;
}
.add{
    margin-left: 580px;
    margin-top: 100px;
}
#foot1{
    margin-left: 440px;
    margin-top: 90px;
    font-size: 30px;
}
#head1{
    width: 100%;
    margin: 0%;
    height: 60px;
    background-color: rgb(135, 240, 250) ;
    }
.navbar a{
    font-size: 33px;
    margin: 10px;
    padding: 10px;
}
.navbar{
    width: 100%;
    background-color: rgb(171, 209, 209);
}
#log{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    background-color: beige;
    width: 100%;
    height: 60px;
}
.d1{
    margin-top: 80px;
    margin-left: 500px;
}
#btn{
    width: 120px;
    height: 40px;
}
#btn:hover{
    background-color: red;
    color: white;
}
#ip1{
    margin-left: 20px;
    width: 280px;
    height: 30px;
}
#ip2{
    margin-left: 20px;
    width: 280px;
    height: 30px;
}
.lab1{
    font-size: 31px;
}
.lab2{
    font-size: 31px;
}
#ip_n,#ip_r,#ip_m,#ip_s{
    width: 300px;
    height: 30px;
}
#btn2{
    width: 100px;
    height: 30px;
}
#btn2:hover{
    background-color: brown;
    color: white;
}